// TODO: We need a call from the client to let us know when a site has responded so we can set the domain status to active.

import path from 'path'
import getRoutes from '@small-tech/web-routes-from-files'
import Remote from '@small-tech/remote'

import fs from 'fs'

import { fileURLToPath } from 'url'
const __dirname = fileURLToPath(new URL('.', import.meta.url))

const handlersDirectory = path.join(__dirname, 'library', 'requestHandlers')
const routes = getRoutes(handlersDirectory, handlersDirectory)

// console.log('routes', routes)

const regExp = new RegExp(path.sep, 'g')
const requestHandlers = {}
for (const route of routes) {
  // Transform the URL fragments returned into message names
  // (e.g., /psl/validate becomes psl.validate.request) and
  // map them to their respective request handlers.
  const messageType = `${route.path.slice(1).replace(regExp, '.')}.request`
  requestHandlers[messageType] = (await import(route.callback)).default
}

export default function (socket, request) {
  const password = request.params.password

  console.log(`   🔐️    ❨Domain❩ index/:password connection request.`)

  const remote = new Remote(socket)

  // Not using Remote here as we have unique routing requirements for requests.
  socket.on('message', async data => {
    const message = JSON.parse(data)
    const messageHandler = requestHandlers[message.type]

    if (messageHandler === undefined) {
      console.log(`Warning: received unexpected message type: ${message.type}`)
    } else {
      messageHandler(remote, message)
    }
  })

  if (password !== db.admin.password) {
    console.log(`   ⛔️    ❨Domain❩ Unauthorised password: ${password}`)
    remote.signIn.error.send({
      error: 'Error: unauthorised.'
    })
    socket.close()
  } else {
    console.log(`   🔓️    ❨Domain❩ Authorised password: ${password}`)
    // Send a signal that sign in has succeeded.
    remote.signIn.response.send()

    // Next, send the settings.
    remote.settings.send({
      body: db.settings
    })
    // this.broadcast(socket, `There’s been a new login from ${request._remoteAddress}`)
  }
}

if (db.settings === undefined) {
  // Initialise the settings object.
  db.settings = await import(path.join(__dirname, 'library/initial-settings.js'))
}
