// NodeKit Chat example back-end.
export default function (socket, request) {
  // New message received: broadcast it to all other clients
  // in the same room after performing basic validation.
  socket.addEventListener('message', event => {
    const message = event.data

    if (!isValidMessage(JSON.parse(message))) {
      console.warn(`Message is invalid; not broadcasting.`)
      return
    }

    const numberOfRecipients = socket.broadcast(message)

    // Log the number of recipients message was sent to
    // and make sure we pluralise the log message properly.
    console.log(`${request.originalUrl} message broadcast to `
      + `${numberOfRecipients} recipient`
      + `${numberOfRecipients === 1 ? '' : 's'}`)
  })
}

// Some basic validation.

// Is the passed object a valid string?
function isValidString(s) {
  return Boolean(s)                // Isn’t null, undefined, '', or 0
    && typeof s === 'string'       // and is the correct type
    && s.replace(/\s/g, '') !== '' // and is not just whitespace.
}

// Is the passed message object valid?
function isValidMessage(m) {
  return isValidString(m.nickname) && isValidString(m.text)
}
